<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>XYZ Home </title>
		<link rel="stylesheet" href="/static/css/index.css">	
	</head>
	<body >
		<div id="header"></div>
		
		<div class="welcome">
		<h1>BANK AT YOUR HOME</h1>
		
		<a href="" class= "btn btn1">Place Query</a>
		<a href="register" class= "btn btn2">Open Account</a>
		
		</div>
		
		<footer>
			<div class="footer-bar"> 
				
				<ul class="footer-menu">
					<li><a href="">Customer Service</a></li>
					<li><a href="">Locate Us</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</div> 
		</footer>
		
		<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
		<script src="/static/js/index.js" charset="utf-8"></script>
		
		
	</body>
</html>