<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home Page </title>
		<link rel="stylesheet" href="/static/css/passwordreset.css">
		
	</head>
	
	<body >
	
		<div id="header"></div>
	
		<div id="overlay"></div>
	
		<div class= "input-form" id ="form1">
		<h1>Reset Password</h1>
		<form action="">
				
			<p>Username</p>
			<input type="text" name="username" required>
			<button type="button" onclick="check_username()">Submit</>
				
		</form>
		</div>
		
		<div class= "input-form1" id ="form2">
		<h1>Reset Password</h1>
		<form action="password.reset" method="post">
			<input type="text" hidden name="username"  id = "username1"/>
			<p>Username</p>
			<input type="text" disabled name="username"  id="user_label"/>
			
			<p>Password</p>
			<input type="password" name="password" required>
			<p>Repeat Password</p>
			<input type="password" name="password1" required>
			<input type="submit" value="Submit">
				
		</form>
		</div>
		<!--
		<div class="ajax-loader" align =center>
				<img src="static/images/ajax-loader-1.gif" class="img-responsive" />
		</div>
		-->
		<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
		<script src="/static/js/lib/bootstrap.min.js" charset="utf-8"></script>
		<script src="/static/js/resetpassword.js" charset="utf-8"></script>
		
		
	</body>
</html>