<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home Page </title>
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body onload = "do_initials()">
		<header>
		
			<div class="nav-bar"> 
				<a href="/"><img src="/static/images/logo.png"></a>
				<ul class="menu menu-header">
					<li><a href="">Credit Cards</a></li>
					<li><a href="">Loans</a></li>
					<li><a href="">Corporate</a></li>
					<li><a href="">Products</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="">NRI</a></li>
					
				</ul>
			</div> 
		</header>
		<div align="center" id = "login_form" class= "input-form">
		<img src="/static/images/login-avatar.png" class="avatar">
		<h1>Login Here</h1>
		<form  action="login" method="post" >
			<p>Username</p>
			<input type="text" name="username" required>
			<p>Password</p>
			<input type="password" name="password" required>
			<input type="submit" value="Login" />
			<a href="#" >Forgot Password</a>
		</form>
		</div>
		<div  id = "pwd_reset_form" align="center">
		<div id="header" align="center">
				<h2>Password Reset</h2>
		</div>
			<!--
			<form action="password.reset" method="post">
				<input type="text" hidden name="username"  id = "username1"/>
				<table>
					<tr><th></th></tr>
					<tr><td>Username</td><td><label id="user_label"></label></td></tr>
					<tr>
					<td>Enter Password</td>
					<td><input type="text" name="password" required></td>
					</tr>
					<tr>
						<td>Repeat Password</td>
						<td><input type="password" name="password1" required></td>
						</tr>
						
						<tr>
						<td><input type="submit" value="Reset Password" /></td>
						<td><input type="reset" value="Clear" /></td>
						</tr>
				</table>
			</form>
			-->
		</div>
		<div class="ajax-loader" align =center>
			<img src="static/images/ajax-loader-1.gif" class="img-responsive" />
		</div>
		<script src="/static/js/login.js" charset="utf-8"></script>
		<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
		
	</body>
</html>