<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page </title>
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/lib/jquery.min.js" charset="utf-8"></script>
	
</head>
<body>

		<header>
		
			<div class="nav-bar"> 
				<a href="/home" class="logo"><img src="/static/images/logo.png"></a>
				<ul class="menu">
					<li><a href="payee.add">Add Payee</a></li>
					<li><a href="payee.remove">Remove Payee</a></li>
					<li><a href="money.transfer">Transfer Money</a></li>
					<li><a href="money.deposit">Deposit Money</a></li>					
				</ul>
				<ul class="menu-right">
					<li><a href="home">Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					
				</ul>
			</div> 
		</header>
{% block content %}

{% endblock %}

</body>
</html>
