
body{
	margin:0;
	padding:0;
	background-image:url(/static/images/background.jpg);
	#background-size: cover;
	#background-position: center;
	font-family: sans-serif;
}

header
{
	#height: 80px;
	background-size:cover;
	background-position:center;
}

.nav-bar{
	background : rgb(0,0,0,0.5);
	height: 60px;
	#border: 1px solid red;
}

ul{
	#padding-top: 25px;
	#border: 1px solid red;
	margin :10px 5px;
	position: relative; top: -10px;
}


.logo{
	margin: 10 px 50 px;
	height:120px;
}



.menu{
	float:right;
	list-style:none;
	margin:20px;
}

.menu li{
	display: inline-block;
	margin :10px 5px;
	
}

.menu li a{
	text-decoration:none;
	color: #ffff;
	padding: 5px 10px;
	font-family: sans-serif;
	letter-spacing: 2px;
	border: 1px solid #ffff;
	
}

.menu li a:hover{
	background: #ffff;
	transition: .4s;
	color: blue;	
}

.input-form{
	width: 320px;
	height: 420px;
	background: rgba(0,0,0,0.5);
	top:45%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	width: 80px;
	height:80px;
	border-radius: 50%;
	position: absolute;
	top:-45px;
	left : calc(50% - 50px);
}

h1{
	margin : 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;	
}

.input-form p{
	margin: 0;
	padding: 0;
	font-weight: bold;	
}

.input-form input{
	width : 100%;
	margin-bottom: 20px;
}

.input-form input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background : none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.input-form input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.input-form input[type="submit"]:hover{
	cursor: pointer;
	background: #39dc79;
	color: #000;
}

.input-form a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.input-form a:hover{
	color: #39dc79;
}
